*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* header */
div.hero{
    background-image: url(img/header.jpg);
    height: 60vh;
    background-position: bottom center;
    background-size: cover;
}

div.header-content{
    padding-top: 1rem;
}

nav.social-media{
    text-align: center;   
}

nav.social-media a{
    color: white;
    font-size: 2rem;
}

.fab{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* footer */
.site-footer{
    background-image: url(img/footer.jpg);
    height: 10vh;
    position: center center center center;
    background-size: auto;
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1{
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 5vh;
    text-transform: uppercase;
    text-align: center;
}

p.slogan{
    color: white;
    text-align: center;
}

div.information div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.city,p.date{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

p.city i, p.date i{
    color: white;
    font-size: 30px;
}

nav.menu {
    background-color: darkslategray;
    padding: 20px;
    text-align: center;
}

nav.menu a{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

/*About Me*/
.about-me{
    padding: 20px;
    background-color: black;
    color: white;
}

/* flex box exercise */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 200px;
    background-color: black;
    color: white;
}

.flex-element{
    background-color: black;
    color: white;
    margin-left: 2rem;
}